.section-HandBook-1 {
    background-image: url(../../../assets/handBook/165045-phan-biet-mun-va-cach-tri-mun.png);
}

.section-HandBook-2 {
    background-image: url(../../../assets/handBook/160734-benh-hac-lao.png);
}

.section-HandBook-3 {
    background-image: url(../../../assets/handBook/175856-phuong-phap-nang-co-mat.png);
}

.section-HandBook-4 {
    background-image: url(../../../assets/handBook/084948-nam-da-chan.png);
}

.hanbook-content {
    margin-top: 15px; // Khoảng cách giữa ảnh và tên
    margin-left: 10px;
    font-size: 1em; // Kích thước chữ
    font-weight: bold; // Độ đậm của chữ
}