table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;

    &:hover {
        background-color: transparent !important;
        color: orange;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: red;

    &:hover {
        background-color: transparent !important;
        color: red;
    }
}

.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background: transparent !important;
                color: white;
                border: none;
                font-size: 27px;
            }
        }
    }

    .modal-user-body {
        display: flex;
        gap: 20px;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom: 10px;
        }

        .input-container2 {
            display: flex;
            flex-direction: column;
            width: calc(50% - 10px);
        }

        input {
            border-radius: 3px;
            border: 1px solid grey;
            height: 30px;
            outline: none;
            padding: 10px;
        }
    }

}