.manage-doctor-container {
    padding: 10px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .save-content-doctor,
    .create-content-doctor {
        margin: 30px 0px;
        padding: 6px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: rgb(11, 129, 240);
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .more-info {
        display: flex;
        gap: 15px;
        margin: 10px 0px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }
}