.manage-specialty-container {
    padding: 10px;


    .btn-save-specialty {
        margin-top: 10px;
        padding: 3px 10px;
        border: none;
        border-radius: 3px;
        min-width: 70px;
        background-color: #0071ba;
        color: white;

        &:hover {
            opacity: 0.8;
        }
    }
}